html, body {
  min-height: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
  touch-action: pan-x pan-y;
  overscroll-behavior-x: none;
  overscroll-behavior-y: none;
  background-color: var(--th-theme-background);
  color: var(--th-theme-text);
  position: relative;
}